<p style="color: green"><%= notice %></p>

<h1>Unidades - Smart </h1>
<h1> "Crie a unidade aqui"</h1>
<div id="unidades">
  <% @unidades.each do |unidade| %>
    <%= render partial: "unidades", locals:{unidade:unidade} %>
    <p>
      <%= link_to "Mostre essa unidade", unidade_path(unidade) %>
    </p>
  
  <% end %>
  
</div>

<%= link_to "Nova Unidade", new_unidade_path %>