<p style="color: green"><%= notice %></p>

<h1>Planos - Smart </h1>
<h1> Teste </h1>
<p> "Aqui pode ser criados planos Smart"
<div id="planos">
  <% @planos.each do |plano| %>
    <%= render plano %>
    <p>
      <%= link_to "Show this plano", plano %>
    </p>
  <% end %>
</div>

<%= link_to "New plano", new_plano_path %>
